body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* 네비게이션 바 스타일 */
.navbar {
    background-color:#004A2F; /* 초록색 배경 */
    padding: 40px 10px;
    text-align: center;

    position: fixed;           /* 스크롤해도 고정 */
    top: 0;                    /* 화면의 최상단에 위치 */
    width: 100%;               /* 네비게이션 바의 너비를 전체로 설정 */
    z-index: 1000;             /* 다른 요소 위에 표시되도록 z-index 설정 */

}

.navbar__menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 200px;
    margin: 0;
    padding: 0;
}

.navbar__menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.navbar__menu a:hover {
    color: #028b53;
}

/* 메인페이지 */
.main {
    width: 100%;
    margin-left: auto;
    display: flex;

}