<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EWHACCC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>

<body>
    <!--네비게이션바-->
    <nav class="navbar">
        <ul class="navbar__menu">
            <li><a href="/ccc">CCC란?</a></li>
            <li><a href="/letter">이화 선배들 입시썰</a></li>
            <li><a href="/instargram">Instargram</a></li>
        </ul>
        <a href="#" class="navbar__toggleBtn">
            <i class="fas fa-bars"></i> </a>
    </nav>

    <div class="mainpage">
        <img src="{{ url_for('static', filename='image/main.jpg') }}" alt="EwhaCCC mainpage" class="main">
    </div>
    <section>
        {% block section %}

        {% endblock section %}
    </section>
</body>
</html>   